- remote = tran.persisted?
- pybl = tran.payable
- form_id = pybl ? "#{pybl.class.name.underscore}_payment" : nil
- next_pybl = nil
- data_amounts = {}
- if pybl.is_a?(Installment)
  - next_pybl = pybl.next_installment
  - data_amounts = amounts_for_form_metadata(pybl)
- elsif pybl
  - data_amounts = { amount: pybl.to_pay.to_f }

= simple_form_for tran, remote: remote, html: { id: form_id, data: data_amounts } do |f|
  - if pybl
    = f.hidden_field :payable_type
    = f.hidden_field :payable_id

  - if tran.person
    = f.hidden_field :person_id

  - if pybl or tran.person
    = f.input :paid_at, as: :string, input_html: { placeholder: 'aaaa-mm-dd', class: 'datepicker', value: DateTime.current.to_date}
    
  = f.input :description

  .form-group
    = f.label :amount, class: 'form-label'

    - if pybl
      .hint
        ' Restante:
        - if pybl.is_a?(Installment)
          - total_cash = data_amounts[:base_amount]
          - if data_amounts[:second_surcharge_amount] > 0
            - total_cash += data_amounts[:second_surcharge_amount]
          - elsif data_amounts[:first_surcharge_amount] > 0
            - total_cash += data_amounts[:first_surcharge_amount]
          span#to_pay #{m(total_cash)} (efectivo) o #{m(total_cash + data_amounts[:debit_extra])} (débito)
        - else
          span#to_pay #{m(pybl.to_pay)}

    .input-group
      span.input-group-addon $
      = f.text_field :amount, class: 'form-input amount-input'

  - if pybl.is_a?(Installment)
    - if (r = data_amounts[:second_surcharge_amount]) > 0
      = label_tag '', class: 'form-checkbox update_amount' do
        = check_box_tag :ignore_second_surcharge, '1', false, class: 'update_amount'
        ' Ignorar segundo recargo por fecha (#{m(r)})
        i.form-icon
    - if (r = data_amounts[:first_surcharge_amount]) > 0
      = label_tag '', class: 'form-checkbox update_amount' do
        = check_box_tag :ignore_first_surcharge, '1', false, class: 'update_amount'
        ' Ignorar primer recargo por fecha (#{m(r)})
        i.form-icon
    - r = data_amounts[:debit_extra]
    = label_tag '', class: 'form-checkbox update_amount' do
      = check_box_tag :ignore_debit_extra, '1', false, class: 'update_amount'
      ' Ignorar recargo por débito (#{m(r)})
      i.form-icon
    = label_tag '', class: 'update_amount' do
        ' Medio de pago:
        select id="payment_method" name="payment_method" class="update_amount"
          option value="cash"
            | Efectivo
          option value="debit_mara"
            | Débito Mara
          option value="debit_valen"
            | Débito Valen

  - unless pybl or tran.person
    .form-group
      = label_tag '', class: 'form-radio form-inline' do
        = f.radio_button :done, true
        = t('money.out')
        i.form-icon
      = label_tag '', class: 'form-radio form-inline' do
        = f.radio_button :done, false
        = t('money.in')
        i.form-icon

  - if next_pybl
    .rest.hidden data-template="El resto (${rest}) se va a asignar a la cuota de #{next_pybl.month_name}."

  .tooHigh.hidden
    ' Monto excede resto y no hay cuota siguiente.

  .actions.modal-footer
    => button_tag t('save.label'), name: :button, value: :save, class: 'btn btn-primary'
    - if pybl or tran.person
      => button_tag t('save.payment_and_receipt'), name: :button, value: :save_and_receipt, class: 'btn'
    - if tran.persisted?
      = link_to t('destroy.label'), tran, method: :delete, data: {confirm: '¿Seguro?'}, class: 'btn btn-error'