%h1 Nuevo #{@person.is_teacher? ? 'Profesor/a' : 'Alumno/a'}
= form_with model: @person do |f|
  = render partial: 'person_fields', locals: {f: f}
  .actions
    = submit_tag 'Crear', 'btn btn-primary'
