:coffee
  schs = document.querySelectorAll('.new_membership_days input.schedule')
  for sch in schs
    sch.addEventListener 'click', (e) ->
      refresh_amount()

= render partial: 'people/new_membership'
