%form{href: '', id: 'add_price_form'}
  %input{type: "number", placeholder: t('hours'), class: 'hours'}
  %input{type: "number", placeholder: t('value'), class: 'value'}
  .modal-footer
    %button.btn.btn-primary{type: 'submit'} Agregar
