- page_title(t('options'))

= form_tag '', class: 'form-compact' do
  .configuration
    h1= t 'configuration'
    .scrollable
      - [[:name, ''],[:opening_time, '09:00'],[:closing_time, '22:00'],
         [:debit_extra_charge, '0%']].each do |key,default|
        .form-group
          = label_tag "key[#{key}]", t(key, scope: 'form.options'), class: 'form-label'
          = text_field_tag "key[#{key}]", Setting.fetch(key.to_s, default), class: 'form-input'
      .form-group
        = label_tag "key[language]", t(:language, scope: 'form.options'), class: 'form-label'
        = select_tag "key[language]", options_for_select([['Español','es'],['English','en']], Setting.fetch('language', 'es')), class: 'form-input'
      
      - [[:preselected_installments_month_from, :january],
         [:preselected_installments_month_to, :december]].each do |key, default|
        .form-group
          = label_tag "key[#{key}]", t(key, scope: 'form.options'), class: 'form-label'
          = select_tag "key[#{key}]", options_for_select(Installment.months_for_select, Setting.fetch(key, default)), class: 'form-input'

  .actions
    = submit_tag t('save.options'), class: 'btn btn-primary'
