@import 'configuration'

body.c_klasses.a_edit
  & > section
    display: grid
    grid-template-areas: 'title title' 'form people'
    grid-template-columns: 49.5% 49.5%
    grid-column-gap: 1%
    grid-template-rows: min-content auto

    & > h2
      grid-area: title

    & > form
      grid-area: form

    & > .people
      grid-area: people

    .klass_schedules
      .nested-fields
        display: grid
        grid-template-columns: 24.25% 24.25% 24.25% 24.25%
        grid-column-gap: 1%
