@import 'configuration'

body.c_klasses.a_edit
  & > main
    display: grid
    grid-template: 'title title' min-content 'form people' auto / 1fr 1fr
    grid-column-gap: 1rem

    & > h1
      grid-area: title

    & > form
      grid-area: form

      & > div
        margin-bottom: 1rem

    & > .people
      grid-area: people
      display: flex
      flex-direction: column

      table
        margin-bottom: 1.5rem

    .klass_schedules
      .nested-fields
        display: grid
        grid-template-columns: 1.5rem repeat(4, 1fr)
        grid-column-gap: .5rem

      a.remove_fields
        align-self: center
        justify-self: center
