@import 'configuration'

body.c_klasses.a_edit
  form.edit_klass
    display: grid
    grid-template-columns: 49% 49%
    grid-column-gap: 2%
    grid-template-rows: min-content auto

    .klass_schedules
      .nested-fields
        display: grid
        grid-template-columns: 24% 24% 24% 24%
        grid-column-gap: 1%
