@import 'configuration'

body.c_dashboard.a_index
  section
    grid-template-areas: 'classes birthdays dailycash' 'notes birthdays dailycash'

    .classes
      grid-area: classes

    .birthdays
      grid-area: birthdays

    .notes
      grid-area: notes

    .dailycash
      grid-area: dailycash
