@import 'configuration'

body.c_dashboard.a_index
  main
    grid-template: 'classes classes dailycash' 1fr 'notes birthdays dailycash' 1fr / 35% auto auto
    grid-gap: .5rem

    .classes
      grid-area: classes
      display: grid

    .birthdays
      grid-area: birthdays

    .notes
      grid-area: notes

    .dailycash
      grid-area: dailycash
      display: grid
      grid-template-rows: max-content auto max-content

      .small
        font-size: 50%

      .space_even
        display: grid
        grid-template-rows: 50% 50%
