@import 'configuration'

body.c_dashboard.a_index
  section
    grid-template-areas: 'classes classes dailycash' 'notes birthdays dailycash'
    grid-column-gap: 1rem
    grid-row-gap: .5rem
    grid-template-columns: 35% 15% auto

    .classes
      grid-area: classes
      height: 35vh
      display: flex
      flex-direction: column

    .birthdays
      grid-area: birthdays

    .notes
      grid-area: notes

    .dailycash
      grid-area: dailycash
