@import 'configuration'

body
  display: grid
  height: 100vh
  width: 100vw
  grid-template-rows: max-content auto min-content

  #trumbowyg-icons
    display: none

  .alert
    position: fixed
    bottom: 2rem
    right: 1rem
    max-width: 100%
    width: 400px

  > section
    overflow: auto
    display: grid
    padding: 0 1rem 1rem
    grid-template-rows: max-content auto max-content
    overflow: hidden

    > *, .scrollable
      min-height: 0
      overflow: auto

  &.a_index > section
    grid-template-rows: max-content max-content auto max-content

    & > .actions
      padding: 1rem
      background: $actions_background
      border-radius: .5rem

  &.a_edit >content
    grid-template-areas: 'title' 'form'
    grid-template-rows: min-content auto

  table
    td.actions
      width: 10px
      white-space: nowrap

    thead
      a
        color: #fff

        &.current_sort
          &:after
            padding-left: 2px

          &.asc:after
            content: '\25B4'

          &.desc:after
            content: '\25BE'
