@import 'configuration'

body.c_settings.a_options
  & > main > form
    display: grid
    grid-template: 'configuration' 1fr 'actions' auto / 1fr
    grid-gap: 1rem
    overflow: hidden
    flex: 0px 1 1

    & > div
      display: flex
      min-height: 0
      flex-direction: column
      overflow: hidden

    .configuration
      grid-area: configuration

    & > .actions
      grid-area: actions

  #add_price_form
    .form-group.form-inline
      width: 30%