@import 'configuration'

body.c_settings.a_options
  & > main > form
    display: grid
    grid-template: 'configuration hourly_fees' 1fr 'actions actions' auto / 1fr 500px
    grid-gap: 1rem
    overflow: hidden
    flex: 0px 1 1

    & > div
      display: flex
      min-height: 0
      flex-direction: column
      overflow: hidden

    .configuration
      grid-area: configuration

    .hourly_fees
      grid-area: hourly_fees
      table
        td, td input
          max-width: 150px

    & > .actions
      grid-area: actions
