@import 'configuration'

body.c_people
  &.a_show
    #add_family_member
      .with_autocomplete
        position: relative

        #autocomplete_selector
          position: absolute
          top: 100%
          left: 0px
          right: 0px
          background: #fff
          border-radius: 0 0 5px 5px
          border: 1px solid #ced4da
          border-top: 0px
          .option
            cursor: pointer
            padding: 5px
            border-radius: 0 0 5px 5px
            border-bottom: #ced4da

            &:hover
              background: #ced4da
  &.a_edit
    section
      display: grid
      grid-template-areas: 'title title' 'personal_data tabbed'
      grid-template-columns: 49% 50%
      grid-column-gap: 1%

      h1
        grid-area: title

      .personal_data
        grid-area: personal_data

      .tabbed
        grid-area: tabbed

        .memberships
          .selector
            display: flex
