@import 'configuration'

body.c_people
  &.a_edit
    #add_family_member
      .with_autocomplete
        position: relative

        #autocomplete_selector
          position: absolute
          top: 100%
          left: 0px
          right: 0px
          background: #fff
          border-radius: 0 0 5px 5px
          border: 1px solid #ced4da
          border-top: 0px
          .option
            cursor: pointer
            padding: 5px
            border-radius: 0 0 5px 5px
            border-bottom: #ced4da

            &:hover
              background: #ced4da
        #family_autocomplete
          display: none
          &.show
            display: flex
            flex-direction: column
          
          span
            cursor: pointer

  &.a_edit, &.a_create, &.a_new_teacher, &.a_new_student
    main
      display: grid
      grid-template: 'title title' min-content 'personal_data tabbed' 1fr / 1fr 1fr
      grid-column-gap: .5rem

      h1
        grid-area: title

      .personal_data
        grid-area: personal_data
        display: flex
        flex-direction: column

        form
          display: grid
          grid-template-columns: 1fr 1fr
          grid-column-gap: .5rem

          .actions
            grid-column: 1/2

          .family_field
            grid-column: 1/1

          .person_comments
            grid-template: 2/2
          
          .form-checkbox
            padding-left: 0

      .tabbed
        grid-area: tabbed

        table
          ul, li
            padding: 0
            margin: 0
          li
            list-style: none

        .memberships
          .selector
            display: flex
            flex-shrink: 0

  &.a_new_teacher, &.a_new_student, &.a_create
    main
      grid-template: 'title' min-content 'personal_data' 1fr / 1fr
