body.c_reports
  &.a_daily_cash
    & > main
      display: grid
      grid-template: 'title title title' min-content 'filters totals totals' min-content 'filters people general' 2fr / 25% auto auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h2
        grid-area: title

      & > .filters
        grid-area: filters

      & > .people_table
        grid-area: people

      & > .general_table
        grid-area: general

      & > .totals
        grid-area: totals

  &.a_payments
    & > main
      display: grid
      grid-template: 'title title' min-content 'filters table' 2fr / 25% auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h2
        grid-area: title

      & > .filters
        grid-area: filters

      & > .scrollable
        grid-area: table

  &.a_debts
    & > main
      display: grid
      grid-template: 'title title' min-content 'filters table' 2fr / 25% auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h1
        grid-area: title

      & > .filters
        grid-area: filters

      & > .scrollable
        grid-area: table
        table 
          width: 100%
  
  &.a_students_with_without_package
    & > main
      display: grid
      grid-template: 'title title' min-content 'filters table' min-content 'stats table' 2fr / 20% auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h1
        grid-area: title
      & > .filters
        grid-area: filters
      & > .stats
        grid-area: stats
        display: flex
        flex-direction: column

        ul
          min-height: 0
          overflow: auto
      & > .scrollable
        grid-area: table
        table
          width: 100%

  &.a_installments
    & > main
      display: grid
      grid-template: 'title title' min-content 'filters table' auto / 20% auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h1
        grid-area: title
      & > .filters
        grid-area: filters
      & > .scrollable
        grid-area: table
        table
          width: 100%

  &.a_extra_klasses_students
    .filters form
      display: flex
      margin-bottom: .2rem
      & > *
        margin-right: .2rem
        margin-bottom: 0
        align-self: flex-end

      .form-group:first-of-type
        width: 150px

.c_reports.a_receipts object
  display: block
  margin: 0 auto

.c_reports.a_payments td.receipt input
  float: right

// .receipt
//   display: grid
//   grid-template-areas: 'person number date' 'table table table' 'name name signature'
//   grid-template-columns: 1fr 1fr 1fr
//   grid-template-rows: 2rem 1fr 3rem
//   width: 800px
//   height: 400px
//   margin: 0 auto
//   border: 1px solid #000
//   padding: 1rem
  
//   .person
//     grid-area: person
  
//   .number
//     grid-area: number
//     text-align: center
  
//   .date
//     grid-area: date
//     text-align: right
  
//   table
//     grid-area: table
//     border-collapse: collapse

//     thead tr
//       border-bottom: 2px solid #000
//     tbody tr
//       border-bottom: 1px solid #000
//     tfoot
//       font-weight: bold

//     th
//       text-align: left
    
//       &:first-child
//         width: 5%
//       &:last-child
//         width: 5%
//         text-align: right

//     td:last-child
//       text-align: right
  
//   .name
//     grid-area: name

//   .signature
//     grid-area: signature
//     text-align: center