body.c_reports
  &.a_daily_cash
    & > main
      grid-template: 'title title title' min-content 'filters totals totals' min-content 'filters people general' 2fr / 25% auto auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h2
        grid-area: title

      & > .filters
        grid-area: filters

      & > .people_table
        grid-area: people

      & > .general_table
        grid-area: general

      & > .totals
        grid-area: totals

  &.a_payments
    & > main
      grid-template: 'title title' min-content 'filters table' 2fr / 25% auto
      grid-column-gap: 1rem
      grid-row-gap: .5rem

      & > h2
        grid-area: title

      & > .filters
        grid-area: filters

      & > .scrollable
        grid-area: table
