h1= t('titles.installments')
.filters
  h2= t('labels.filters')
  = form_tag reports_installments_path, method: :get do
    .form-group
      = label_tag :klass_id, 'Clase:', class: 'form-label'
      = select_tag :klass_id, options_from_collection_for_select(Klass.all, :id, :name, params[:klass_id]), prompt: 'Todas', class: 'form-input'
    .form-group
      = label_tag :year, 'Año:', class: 'form-label'
      = text_field_tag :year, params[:year], class: 'form-input'
    .form-group
      = label_tag :month, 'Mes:', class: 'form-label'
      = select_tag :month,  options_for_select(Installment.months_for_select, params[:month]), prompt: 'Todos', class: 'form-input'
    .form-group
      = label_tag :installment_state, 'Estado:', class: 'form-label'
      = select_tag :installment_state, options_for_select([['Pagadas', :paid], ['Pendientes', :waiting]], params[:installment_state]), prompt: 'Todas', class: 'form-input'
    .from-group
      = label_tag '', class: 'form-check form-inline' do
        = check_box_tag :include_inactive_users, '1', params[:include_inactive_users] == '1'
        i.form-icon>
        | Incluir cuotas de usuarios inactivos
      = label_tag '', class: 'form-check form-inline' do
        = check_box_tag :only_with_recharge, '1', params[:only_with_recharge] == '1'
        i.form-icon>
        | Mostrar sólo cuotas con recargo

    = button_tag t('labels.filter'), class: 'btn btn-primary', name: :form_action, value: :filter

    = button_tag t('labels.export'), class: 'btn btn-secondary', name: :form_action, value: :export

- total_cash = Money.new(0)
- total_debit = Money.new(0)
- total_debit_extra = Money.new(0)
- total_mara_mp = Money.new(0)
- total_valen_mp = Money.new(0)
- total_family_discount = Money.new(0)
- total_klasses_discount = Money.new(0)
- total_teacher_discount = Money.new(0)
- total_manual_discount = Money.new(0)
- total_discount = Money.new(0)
- total_surcharges = Money.new(0)

.scrollable
  table.table.table-striped.table-sm
    thead.thead-dark
      tr
        th Alumno/a
        th Año
        th Mes
        th Clases
        th Estado
        th Medio de pago
        th Monto base
        th Desc Familia %
        th Desc Materias %
        th Desc Profe %
        th Desc Manual %
        th Desc Total %
        th Descuento
        th Intereses
        th Recargo Débito
        th Monto final
    
    - @installments.includes(:payments, :klasses).order("klasses.name ASC").each do |ins|
      - amount = ins.waiting? ? ins.amount_with_discount : ins.amount_paid
      - amount_without_debit = ins.paid_with_debit? || ins.paid_with_interests_and_debit? ? amount - DEBIT_EXTRA : amount
      - interests = Money.new(0)
      - if ins.membership_amounts && (ins.paid_with_interests? || ins.paid_with_interests_and_debit?)
        - interests = amount_without_debit - Money.new(ins.membership_amounts[:subtotal].gsub(",","").to_i) + Money.new(ins.membership_amounts[:totalDiscount].gsub(",","").to_i)

      - total_cash += amount if ins.cash?
      - if ins.debit?
        - total_debit += amount
        - total_debit_extra += DEBIT_EXTRA
      - total_surcharges += interests if interests > Money.new(0)
      - total_mara_mp += amount if ins.mara_mp?
      - total_valen_mp += amount if ins.valen_mp?

      tr
        td= link_to ins.person.to_label, edit_person_path(ins.person)
        td= ins.year
        td= ins.month_name
        td= ins.klasses.map(&:name).join(' ; ')
        td= installment_status(ins)
        td= installment_payment_method(ins)
        - if ins.membership_amounts
          td= ins.membership_amounts[:subtotal]
          td= ins.membership_amounts[:familyDiscountPer]
          - if ins.membership_amounts[:familyDiscountPer] > 0
            - total_family_discount += amount_without_debit * ins.membership_amounts[:familyDiscountPer] / 100
          td= ins.membership_amounts[:klassesDiscountPer]
          - if ins.membership_amounts[:klassesDiscountPer] > 0
            - total_klasses_discount += amount_without_debit * ins.membership_amounts[:klassesDiscountPer] / 100
          td= ins.membership_amounts[:teacherDiscountPer]
          - if ins.membership_amounts[:teacherDiscountPer] > 0
            - total_teacher_discount += amount_without_debit * ins.membership_amounts[:teacherDiscountPer] / 100
          td= ins.membership_amounts[:manualDiscountPer]
          - if ins.membership_amounts[:manualDiscountPer] > 0
            - total_manual_discount += amount_without_debit * ins.membership_amounts[:manualDiscountPer] / 100
          td= ins.membership_amounts[:totalDiscountPer]
          - if ins.membership_amounts[:totalDiscountPer] > 0
            - total_discount += amount_without_debit * ins.membership_amounts[:totalDiscountPer] / 100
          td= ins.membership_amounts[:totalDiscount]
        - else
          td= ""
          td= ""
          td= ""
          td= ""
          td= ""
          td= ""
          td= ""
        td= interests.to_s
        td= ins.paid_with_debit? || ins.paid_with_interests_and_debit? ? DEBIT_EXTRA.to_s : "0,00"
        td= amount.to_s

.totals
  span.final Total Efe + Déb:<br>#{m(total_cash + total_mara_mp + total_debit)}
  span Efectivo:<br>#{m(total_cash)}
  span Débito:<br>#{m(total_debit)}
  span Recargo Débito:<br>#{m(total_debit_extra)}
  span MP Mara:<br>#{m(total_mara_mp)}
  span MP Valen:<br>#{m(total_valen_mp)}
  span Total Desc:<br>#{m(total_discount)}
  span Desc. Familia:<br>#{m(total_family_discount)}
  span Desc. Materias:<br>#{m(total_klasses_discount)}
  span Desc. Profes:<br>#{m(total_teacher_discount)}
  span Desc. Manuales:<br>#{m(total_manual_discount)}
  span Recargos:<br>#{m(total_surcharges)}