- page_title(t('new.klass'))

%h1= t('new.klass')

= form_with model: @klass, local: true do |f|
  = render partial: 'klass_fields', locals: {f: f}
  .actions
    = submit_tag t('create.klass'), class: 'btn btn-primary'
